<phpunit bootstrap="./vendor/autoload.php" colors="true" strict="true">
    <testsuites>
        <testsuite name="PhalconExpressiveTest">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>